asgiref==
atomicwrites==
attrs==
autopep8==
beautifulsoup4==
black==
bleach==
certifi==
charset-normalizer==
click==
colorama==
crispy-bootstrap4==
css==
distlib==
dj-database-url==
dj-static==
Django==
django-adminactions==
django-bootstrap-v5==
django-ckeditor==
django-compat==
django-crispy-forms==
django-heroku==
django-js-asset==
django-markdown-deux==
django-model-utils==
django-online-users==
django-redis==
django-simple-history==
django-stdimage==
django-taggit==
djangorestframework==
fanstatic==
filelock==
gunicorn==
humanize==
idna==
importlib-metadata==
iniconfig==
javascript==
js.jquery==
Markdown==
markdown2==
martor==
mypy-extensions==
packaging==
pathspec==
Pillow==
platformdirs==
pluggy==
portalocker==
psycopg2==
psycopg2-binary==
py==
pycodestyle==
pyparsing==
pystache==
pytest==
python-slugify==
pytz==
redis==
regex==
requests==
setuptools==
six==
soupsieve==
sqlparse==
static==
static3==
text-unidecode==
toml==
tomli==
typing_extensions==
tzdata==
tzlocal==
upgrade-requirements==
urllib3==
virtualenv==
virtualenvwrapper-win==
webencodings==
WebOb==
wheel==
whitenoise==
xlrd==
xlwt==
yapf==
zipp==
